/obj/*
/bin/WIP12
/bin/log.txt
/MeshConverter/obj*
/bin/programs/main/libMeshConverter.so
/bin/programs/main/resources/scripts/bin/*
/bin/programs/tests/resources/scripts/bin/*
/WIP12.layout
/WIP12.depend
/include/scripting/scriptinclude.h.gch
/bin/programs/main/resources/textures/*
/bin/programs/main2/resources/textures/*
/bin/programs/*.pyc
